backend:
  name: github
  repo: daviddarx/cck-hack
  branch: main

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "home"
    label: "Home"
    create: false
    delete: false
    folder: "content/home/"
    slug: "home"
    extension: "json"
    format: "json"
    summary: "Version: {{version}} - {{title}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Content"
        name: "content"
        widget: "markdown"
        buttons:
          - bold
          - link
          - heading-three
          - bulleted-list

      - label: "Button Label"
        name: "buttonLabel"
        widget: "string"

  - name: "about"
    label: "About"
    create: false
    delete: false
    folder: "content/about/"
    slug: "about"
    extension: "json"
    format: "json"
    summary: "Version: {{version}} - {{title}}"
    fields:
      - label: "Subline"
        name: "subline"
        widget: "string"

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Lead"
        name: "lead"
        widget: "text"

      - label: "Image"
        name: "image"
        widget: "image"

      - label: "CV Label"
        name: "cvlabel"
        widget: "string"

      - label: "CV Doc"
        name: "cvdoc"
        widget: "file"

      - label: "Positions"
        name: "positions"
        widget: "list"
        required: false
        fields:
          - label: "Dates"
            name: "dates"
            widget: "string"
          - label: "Agency"
            name: "agency"
            widget: "string"
          - label: "Description"
            name: "description"
            widget: "markdown"
            buttons:
              - link
              - heading-three

  - name: "projects"
    label: "Projects"
    create: false
    delete: false
    folder: "content/projects/"
    slug: "projects"
    extension: "json"
    format: "json"
    summary: "Version: {{version}} - {{title}}"
    fields:
      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Content"
        name: "content"
        widget: "markdown"
        buttons:
          - bold
          - link
          - heading-three
          - bulleted-list

  - name: "project"
    label: "Project"
    folder: "content/projects/projects/"
    create: true
    slug: "{{uuid}}"
    description: "Create pages for projects."
    extension: "json"
    format: "json"
    summary: "Version: {{version}} - {{title}}"
    fields:
      - label: "uuid"
        name: "uuid"
        widget: "string"

      - label: "Date"
        name: "date"
        widget: "datetime"
        default: ""

      - label: "Title"
        name: "title"
        widget: "string"

      - label: "Desc"
        name: "desc"
        widget: "markdown"
        buttons:
          - bold
          - link
          - heading-three
          - bulleted-list

      - label: "Image"
        name: "image"
        widget: "image"

      - label: "Additional Images"
        name: "additionalImages"
        widget: "list"
        required: false
        fields:
          - label: "Image"
            name: "image"
            widget: "image"

