@import 'reset-css/reset.css';
@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgb(103, 169, 255, 0.2);
  color: var(--c-title);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRunText;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-lh);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontTitle();

  color: var(--c-title);
}

h2 {
  font-size: var(--s-h2);
  line-height: var(--s-lh-h2);
}

b,
strong {
  @include fontTitle();
}

a {
  color: var(--c-text);
  text-decoration: underline;
}

@mixin cta() {
  --s-padding: 1.4em;
  --s-padding-modifier-top: 0.5;
  --s-padding-modifier-bottom: 0.45;

  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.025em;
  text-decoration: none;
  padding-left: var(--s-padding);
  padding-right: var(--s-padding);
  padding-top: calc(var(--s-padding) * var(--s-padding-modifier-top));
  padding-bottom: calc(var(--s-padding) * var(--s-padding-modifier-bottom));
  border-radius: calc(var(--s-padding) * 1.5);
  border: 2px solid var(--c-title);
  background-color: var(--c-bg);
  transition: color, border-color, background-color;
  transition-timing-function: var(--e-out);
  transition-duration: var(--d-text-content);

  &:hover {
    background-color: var(--c-title);
    border-color: var(--c-title);
    color: var(--c-bg);
  }
}

.cta {
  @include cta();
}

@mixin text-link() {
  transition: color var(--e-out) var(--d-text-content);

  &:hover {
    color: var(--c-title);
  }
}

.text-link {
  @include text-link();
}

.logo {
  --s-title: calc(var(--s-text-s) * 2);

  $el: #{&};

  position: fixed;
  top: var(--s-gutter);
  left: var(--s-gutter);
  margin-top: calc(var(--s-title) * -0.4);
  font-weight: bold;

  a {
    text-decoration: none;
  }

  &__title {
    font-size: var(--s-title);
    transition: color var(--e-out) var(--d-text-content);

    #{$el}:hover & {
      color: var(--c-text);
    }
  }

  &__desc {
    font-size: var(--s-text-s);
    margin-top: 0.5em;
  }
}

.navigation {
  position: fixed;
  z-index: 10;
  top: var(--s-gutter);
  right: var(--s-gutter);
  font-size: var(--s-text-s);
  font-weight: bold;

  &__link {
    @include cta();

    --s-margin: 2em;

    margin-left: var(--s-margin);
    text-transform: uppercase;

    &--secondary {
      margin-left: calc(var(--s-margin) * 0.3);
      background-color: var(--c-bg);
      border-color: var(--c-bg);

      &:hover {
        color: var(--c-title);
        background-color: var(--c-bg);
        border-color: var(--c-bg);
      }
    }

    &.is-current {
      background-color: var(--c-text);
      border-color: var(--c-text);
      color: var(--c-bg);
    }
  }
}

.content {
  position: relative;
  margin-top: 30vh;
  box-sizing: border-box;
  transition: opacity linear 0.25s;

  &__centered {
    --s-padding: calc(var(--s-gutter) * 2);

    padding: 0 var(--s-padding) 0 var(--s-padding);
  }

  .transition-out & {
    opacity: 0;
  }

  .cta {
    margin-top: 2.5em;
  }

  p {
    margin-top: 2em;
  }
}

.content-enter-active {
  transition: transform var(--e-out), opacity linear;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.content-enter {
  transform: translateY(4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--s-text-s);
  border-top: 2px var(--c-title) solid;
  padding-top: 1em;
  margin-top: calc(var(--s-gutter) * 2);
  padding-bottom: var(--s-gutter);

  &__dash {
    display: inline-block;
    padding: 0 1em 0 1em;
  }
}

.transition {
  --s-margin: calc(var(--s-gutter) * 0.5);

  &__bg {
    position: fixed;
    z-index: 1000;
    top: var(--s-margin);
    left: var(--s-margin);
    width: calc(100vw - var(--s-margin) * 2);
    height: calc(100vh - var(--s-margin) * 2);
    background-color: var(--c-title);
    will-change: transform;
  }
}

.transition-enter-active {
  transition: transform var(--e-out) 0.5s;
}

.transition-leave-active {
  transition: transform var(--e-in) 0.5s;
}

.transition-enter {
  transform: scale(0.75);
}

.transition-enter-to {
  transform: scale(1);
}

.transition-leave {
  transform: scale(1);
}

.transition-leave-to {
  transform: translateY(100%);
}
