@import 'reset-css/reset.css';
@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgb(103, 169, 255, 0.2);
  color: var(--c-title);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRunText;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-lh);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontTitle();
}

@mixin h2() {
  @include fontTitle();

  font-size: var(--s-h2);
  line-height: var(--s-lh-h2);
}

@mixin h3() {
  @include fontTitle();

  font-size: var(--s-h3);
  line-height: var(--s-lh-h3);
}

h2 {
  @include h2();
}

a {
  color: var(--c-text);
  text-decoration: underline;
}

p {
  margin-top: var(--s-p-margin-top);
}

@mixin tag() {
  @include fontRunText();

  --s-padding: 1.4em;
  --s-padding-modifier-top: 0.5;
  --s-padding-modifier-bottom: 0.45;

  display: inline-block;
  font-size: var(--s-text-s);
  letter-spacing: 0.07em;
  text-decoration: none;
  padding-left: var(--s-padding);
  padding-right: var(--s-padding);
  padding-top: calc(var(--s-padding) * var(--s-padding-modifier-top));
  padding-bottom: calc(var(--s-padding) * var(--s-padding-modifier-bottom));
  border-radius: calc(var(--s-padding) * 1.5);
  background-color: var(--c-tag);
  margin-right: 1em;
  margin-bottom: 1em;
  transition-property: color, border-color, background-color;
  transition-timing-function: var(--e-text-content);
  transition-duration: var(--d-text-content);
}

.tag {
  @include tag();
}

@mixin cta() {
  @include tag();

  border: var(--s-line) solid var(--c-title);
  background-color: var(--c-bg);

  @include hover() {
    &:hover {
      background-color: var(--c-title);
      border-color: var(--c-title);
      color: var(--c-bg);
    }
  }
}

.cta {
  @include cta();
}

@mixin text-link() {
  transition: color var(--e-text-content) var(--d-text-content);

  @include hover() {
    &:hover {
      color: var(--c-title);
    }
  }
}

.text-link {
  @include text-link();
}

.subline {
  @include fontRunText();

  font-size: var(--s-text-s);
  display: inline-block;
  text-transform: uppercase;
  color: var(--c-text);
}

.arrow {
  --s-width: 3em;
  --s-height: 0.75em;
  --c: var(--c-text);
  --d: 0.4s;
  --e: var(--e-inout);

  position: relative;
  background: var(--c);
  height: var(--s-line);
  width: var(--s-width);
  transition: width var(--e) var(--d);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: var(--s-line);
    width: var(--s-height);
    background: var(--c);
    transition: width var(--e) var(--d);
    transition-delay: 0.3s;
  }

  &::before {
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }

  &::after {
    transform: rotate(45deg);
    transform-origin: left top;
  }
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.logo {
  --s-title: calc(var(--s-text-s) * 2.5);

  $el: #{&};

  position: relative;
  font-weight: bold;

  &.is-deactived {
    pointer-events: none;
  }

  a {
    text-decoration: none;
  }

  &__title {
    font-size: var(--s-title);
    letter-spacing: -0.02em;
    transition: color var(--e-text-content) var(--d-text-content);

    @include hover() {
      #{$el}:hover & {
        color: var(--c-text);
      }
    }
  }

  &__name,
  &__last-name {
    position: absolute;
  }

  &__name {
    transform: translate(23%, 55%);
  }

  &__desc {
    @include fontRunText();

    position: absolute;
    width: 15em;
    line-height: 1.1;
    font-size: var(--s-text-s);
    transform: translate(60%, -70%);
  }
}

.navigation {
  $root:#{&};

  --d-transition: 0.8s;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;

  &__logo {
    position: relative;
    margin-top: -0.55em;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      width: 21em;
      height: 8.3em;
      top: -1em;
      left: -2.7em;
      background-color: var(--c-bg);
      border-radius: 4em;
    }

    @include viewport ('mobile-layout') {
      transition: opacity linear 0.2s;

      .is-hidden & {
        opacity: 0;
      }
    }
  }

  &__burger {
    --s-dim: calc(var(--s-gutter) * 0.5);

    position: absolute;
    top: var(--s-gutter);
    right: var(--s-gutter);
    visibility: hidden;

    @include viewport ('mobile-layout') {
      visibility: visible;
    }
  }

  &__mobile-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: -1;
    visibility: hidden;

    .is-mobile-opened & {
      visibility: visible;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: var(--s-gutter);
    padding-bottom: 0;
    box-sizing: border-box;
    font-size: var(--s-text-s);
    font-weight: bold;
    transform: translateY(0);
    transition: transform var(--e-inout) var(--d-transition);

    #{$root}.is-hidden & {
      transform: translateY(calc(var(--s-gutter) * -2.5));

      @include viewport ('mobile-layout') {
        transform: translateY(0);
      }
    }

    #{$root}.is-minified & {
      transform: translateY(calc(var(--s-gutter) * -0.5));

      @include viewport ('mobile-layout') {
        transform: translateY(0);
      }
    }
  }

  &__links {
    @include viewport ('mobile-layout') {
      position: fixed;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: baseline;
      right: -1px;
      top: 0;
      height: 100vh;
      background-color: var(--c-title);
      padding: var(--s-gutter);
      box-sizing: border-box;
      pointer-events: none;
      transform: translateX(100%);
      transition: transform var(--e-out) 0.5s;

      .is-mobile-opened & {
        transform: translateX(0);
        pointer-events: auto;
      }
    }
  }

  &__link {
    @include cta();

    --s-margin: 2em;

    margin-left: var(--s-margin);
    margin-right: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    &--secondary {
      margin-left: calc(var(--s-margin) * -0.5);
      background-color: var(--c-bg);
      border-color: var(--c-bg);
      transition: color var(--e-text-content) var(--d-text-content), opacity 0.4s linear;
      text-transform: none;

      @include hover() {
        &:hover {
          color: var(--c-title);
          background-color: var(--c-bg);
          border-color: var(--c-bg);
        }
      }

      #{$root}.is-hidden & {
        opacity: 0;
        transition-delay: 0.5s;
        pointer-events: none;

        @include viewport ('mobile-layout') {
          opacity: 1;
          transition-delay: 0s;
          pointer-events: auto;
        }
      }
    }

    @include viewport ('mobile-layout') {
      display: block;
      margin: 0;
      margin-top: calc(var(--s-gutter) * 0.5);
      color: var(--c-bg);
      background-color: var(--c-title);
      border: var(--s-line) solid var(--c-bg);

      &:hover {
        color: var(--c-title);
        background-color: var(--c-bg);
        border-color: var(--c-bg);
      }

      &--secondary {
        border: 0;
        padding-left: 0;
        margin-top: 0;
      }
    }

    &.is-current {
      background-color: var(--c-text);
      border-color: var(--c-text);
      color: var(--c-bg);
    }

    @include viewport ('mobile-layout') {
      --duration: 0.5s;
      --delay: var(--duration);

      transform: translateX(calc(var(--s-gutter) * 5));
      transition-property: color, border-color, background-color, transform;
      transition-timing-function: var(--e-text-content), var(--e-text-content), var(--e-text-content), var(--e-out);
      transition-duration: var(--d-text-content), var(--d-text-content), var(--d-text-content), var(--duration);
      transition-delay: var(--delay);

      .is-mobile-opened & {
        transform: translateX(0);

        @for $i from 0 through 6 {
          &:nth-child(#{$i}) {
            --delay: #{$i * 0.05}s;
          }
        }
      }
    }
  }

  &__phone {
    @include viewport ('mobile-layout') {
      margin-top: calc(var(--s-gutter) * 2);
    }
  }

  &__home {
    display: none;

    @include viewport ('mobile-layout') {
      display: block;
    }
  }
}

.burger {
  --s-dim: calc(var(--s-gutter) * 1.5);

  $root: #{&};

  width: var(--s-dim);
  height: var(--s-dim);
  border-radius: 100%;
  background-color: var(--c-bg);
  transition: background-color var(--e-text-content) var(--d-text-content), border-color var(--e-text-content) var(--d-text-content);
  border: var(--s-line) var(--c-title) solid;
  cursor: pointer;

  @include hover() {
    &:hover {
      background-color: var(--c-title);
    }
  }

  &.is-close {
    border-color: var(--c-bg);
    background-color: var(--c-title);
  }

  &__bar {
    --dist-y: calc(var(--s-line) * 6);
    --pos-y: 0;
    --rotation: 0deg;
    --scale-x: 1;

    position: absolute;
    width: 50%;
    height: var(--s-line);
    background-color: var(--c-text);
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, var(--pos-y)) rotate(var(--rotation)) scaleX(var(--scale-x));
    transition: transform var(--e-inout) 0.5s, background-color var(--e-text-content) var(--d-text-content);

    @include hover() {
      #{$root}:hover & {
        background-color: var(--c-bg);
      }
    }

    @include viewport ('tablet-s') {
      --dist-y: calc(var(--s-line) * 4);
    }

    @include viewport ('mobile-l') {
      --dist-y: calc(var(--s-line) * 3);
    }

    @include viewport ('mobile') {
      --dist-y: calc(var(--s-line) * 2);
    }

    #{$root}.is-close & {
      --pos-y: 0;

      background-color: var(--c-bg);
    }

    &--01 {
      --pos-y: calc(var(--dist-y) * 1);

      #{$root}.is-close & {
        --rotation: 45deg;
      }
    }

    &--02 {
      #{$root}.is-close & {
        --rotation: 90deg;
        --scale-x: 0;
      }
    }

    &--03 {
      --pos-y: calc(var(--dist-y) * -1);

      #{$root}.is-close & {
        --rotation: 135deg;
      }
    }
  }
}

.column {
  &--centered {
    padding: 0 var(--s-padding-column) 0 var(--s-padding-column);
  }

  &--wide {
    @include viewport ('desktop-xl') {
      padding: 0 var(--s-padding-column) 0 var(--s-padding-column);
    }
  }
}

.content {
  --s-vertical-spacing: calc(var(--s-gutter) * 2);

  position: relative;
  margin-top: 30vh;
  box-sizing: border-box;
  transition: opacity linear 0.25s;

  &__subtitle {
    font-size: var(--s-text-s);
    margin-bottom: var(--s-subline-margin-bottom);
  }

  &__title {
    @include h2();
  }

  &__subline {
    display: block;
    color: var(--c-text);
    width: 50%;
    margin-top: var(--s-vertical-spacing);
    margin-bottom: var(--s-subline-margin-bottom);
  }

  .transition-out & {
    opacity: 0;
  }

  .cta {
    margin-top: calc(var(--s-p-margin-top) * 1.3);
  }

  a:not(.cta) {
    transition: color var(--e-text-content) var(--d-text-content);
    color: var(--c-title);

    @include hover() {
      &:hover {
        color: var(--c-text);
      }
    }
  }
}

.content-enter-active {
  transition: transform var(--e-out), opacity linear;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.content-enter {
  transform: translateY(4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.projects {
  &__listing {
    margin-top: calc(var(--s-vertical-spacing) * 1);
  }
}

.projects-list {
  $root: #{&};

  margin-top: calc(var(--s-gutter) * 1);

  &__link {
    text-decoration: none;
    display: block;
  }

  &__title {
    @include h3();

    margin-top: 1em;
    transition: color var(--e-text-content) var(--d-text-content);

    @include hover() {
      #{$root}:hover & {
        color: var(--c-text);
      }
    }
  }

  &__tags {
    font-size: var(--s-text-s);
    margin-top: 3em;
  }

  .tag {
    color: var(--c-text);
  }
}

.project {
  &__subline {
    display: inline-block;
  }

  &__year,
  &__agency {
    font-size: var(--s-text-s);
    line-height: var(--s-lh-h2);
    margin-left: 3em;
  }

  &__tags {
    font-size: var(--s-text-s);
    margin-top: 5em;
  }

  &__lead {
    margin-top: 2.2em;
  }

  &__images,
  &__images-duos,
  &__videos {
    margin-top: var(--s-vertical-spacing);
  }

  &__image,
  &__video {
    margin-top: calc(var(--s-vertical-spacing) * 0.5);
  }

  &__image-el {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__video-el {
    width: 100% !important;
  }

  &__link {
    display: table;
  }

  &__credits {
    p {
      margin-top: 0;
    }
  }

  &__pagination {
    margin-top: var(--s-vertical-spacing);
  }
}

.images-duo {
  display: flex;
  justify-content: space-between;

  &__img {
    width: calc(50% - var(--s-gutter) * 0.2);
    height: auto;
  }
}

.pagination {
  display: flex;
}

.pagination-link {
  $root: #{&};

  --s-padding: calc(var(--s-gutter) * 0.5);

  flex-basis: 50%;
  flex-shrink: 0;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  padding-left: var(--s-padding);
  padding-right: var(--s-padding);

  &__subline {
    margin-bottom: var(--s-subline-margin-bottom);
  }

  &__title {
    @include h3();

    display: block;
    color: var(--c-title);
    transition: color var(--e-text-content) var(--d-text-content);

    #{$root}:hover & {
      color: var(--c-text);
    }
  }

  &__arrow {
    --s-width: 2em;
    --s-height: 0.5em;
    --c: var(--c-text);
    --t: translate(-50%, 0);

    position: relative;
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    left: 50%;
    transform: var(--t);

    @include hover() {
      --s-width: 1em;
      --s-height: 0;
      --c: var(--c-title);

      // position: absolute;
      // margin-top: 0;
      // margin-bottom: 0;
    }

    &--next {
      transform: var(--t) scaleX(-1);
    }

    @include hover() {
      #{$root}:hover & {
        --s-width: 2.8em;
        --s-height: 0.65em;
      }
    }
  }
}

.home {
  &__desc {
    margin-bottom: var(--s-p-margin-bottom);
  }
}

.about {
  &__img {
    width: 100%;
    margin-top: calc(var(--s-vertical-spacing) * 0.8);
  }

  &__lead {
    margin-bottom: var(--s-p-margin-bottom);
  }

  &__cta {
    margin-bottom: 0;
  }

  &__positions-title {
    position: absolute;
    margin: 0;
  }

  &__position {
    margin-top: calc(var(--s-vertical-spacing) * 1);

    &:first-child {
      margin-top: 0;
    }
  }

  &__position-title {
    @include h3();
  }

  &__position-dates {
    transform: translate(1em, -1.3em);
    color: var(--c-title);
  }

  &__language {
    display: flex;

    &:first-child {
      margin-top: 0;
    }
  }

  &__language-title {
    flex-basis: 35%;
  }

  &__language-value {
    span {
      --s: 0.5em;

      display: inline-block;
      position: relative;
      width: var(--s);
      height: var(--s);
      background-color: var(--c-tag);
      top: -0.05em;
      margin-right: 0.75em;
      border-radius: 100%;

      &.active {
        background-color: var(--c-title);
      }
    }
  }

  &__skills {
    margin-top: 0.5em;
  }

  &__skill {
    font-size: var(--s-text-s);
  }

  &__clients,
  &__contact {
    p:first-of-type {
      margin-top: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--s-text-s);
  border-top: var(--s-line) var(--c-title) solid;
  padding-top: 1em;
  margin-top: calc(var(--s-gutter) * 2);
  padding-bottom: var(--s-gutter);

  &__dash {
    display: inline-block;
    padding: 0 1em 0 1em;
  }
}

.transition {
  --s-margin: calc(var(--s-gutter) * 0.5);

  &__container {
    position: fixed;
    z-index: 1000;
    top: var(--s-margin);
    left: var(--s-margin);
    width: calc(100vw - var(--s-margin) * 2);
    height: calc(100vh - var(--s-margin) * 2);
    background-color: var(--c-title);
    will-change: transform;
  }

  &__words {
    overflow: hidden;
    pointer-events: none;
    // positioning preview, outside transition
    // position: fixed;
    // z-index: 1000;
    // top: var(--s-margin);
    // left: var(--s-margin);
    // width: calc(100vw - var(--s-margin) * 2);
    // height: calc(100vh - var(--s-margin) * 2);
    // background-color: var(--c-title);
    //
    // final setting, inside transition
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.transition-enter-active {
  transition: transform var(--e-out) 0.5s;
}

.transition-leave-active {
  transition: transform var(--e-in) 0.5s;
}

.transition-enter {
  transform: scale(0.75);
}

.transition-enter-to {
  transform: scale(1);
}

.transition-leave {
  transform: scale(1);
}

.transition-leave-to {
  transform: translateY(100%);
}

.transition-word {
  @include fontTitle();

  --pos-x: 50%;
  --pos-y: 50%;
  --s-font: 15vw;
  --s-font-modifier: 1;
  --scale: 1;
  --ease: linear;
  --duration: 0s;
  --delay: 0s;

  font-size: calc(var(--s-font) * var(--s-font-modifier));
  position: absolute;
  top: var(--pos-y);
  left: var(--pos-x);
  pointer-events: none;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(var(--scale));
  transition: transform var(--ease) var(--duration) var(--delay), visibility 0s var(--delay);
  white-space: nowrap;
  color: var(--c-bg);

  .transition-enter-active & {
    --ease: var(--e-out);
    --duration: 0.3s;
  }

  .transition-enter & {
    --scale: 0.85;

    visibility: hidden;
  }

  .transition-enter-to & {
    --scale: 1;

    visibility: visible;
  }

  &--01 {
    --delay: 0.1s;

    .pos-01 & {
      --pos-x: 30%;
      --pos-y: 20%;
      --s-font-modifier: 0.75;
    }

    .pos-02 & {
      --pos-x: 50%;
      --pos-y: 20%;
      --s-font-modifier: 0.9;
    }

    .pos-03 & {
      --pos-x: 70%;
      --pos-y: 20%;
      --s-font-modifier: 1.2;
    }
  }

  &--02 {
    --delay: 0.3s;

    .pos-01 & {
      --pos-x: 40%;
      --pos-y: 50%;
      --s-font-modifier: 1.2;
    }

    .pos-02 & {
      --pos-x: 60%;
      --pos-y: 55%;
      --s-font-modifier: 1;
    }

    .pos-03 & {
      --pos-x: 30%;
      --pos-y: 55%;
      --s-font-modifier: 1.3;
    }
  }

  &--03 {
    --delay: 0.4s;

    .pos-01 & {
      --pos-x: 70%;
      --pos-y: 85%;
      --s-font-modifier: 0.8;
    }

    .pos-02 & {
      --pos-x: 30%;
      --pos-y: 80%;
      --s-font-modifier: 0.6;
    }

    .pos-03 & {
      --pos-x: 50%;
      --pos-y: 85%;
      --s-font-modifier: 0.6;
    }
  }
}
