@import 'reset-css/reset.css';
@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgb(103, 169, 255, 0.2);
  color: var(--c-title);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRunText;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-lh);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontTitle();
}

@mixin h2() {
  @include fontTitle();

  font-size: var(--s-h2);
  line-height: var(--s-lh-h2);
}

@mixin h3() {
  @include fontTitle();

  font-size: var(--s-h3);
  line-height: var(--s-lh-h3);
}

h2 {
  @include h2();
}

b,
strong {
  font-weight: bold;
}

a {
  color: var(--c-text);
  text-decoration: underline;
}

p {
  margin-top: var(--s-p-margin-top);
}

@mixin tag() {
  --s-padding: 1.4em;
  --s-padding-modifier-top: 0.5;
  --s-padding-modifier-bottom: 0.45;

  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.025em;
  text-decoration: none;
  padding-left: var(--s-padding);
  padding-right: var(--s-padding);
  padding-top: calc(var(--s-padding) * var(--s-padding-modifier-top));
  padding-bottom: calc(var(--s-padding) * var(--s-padding-modifier-bottom));
  border-radius: calc(var(--s-padding) * 1.5);
  background-color: var(--c-tag);
  margin-right: 1em;
  margin-bottom: 1em;
  transition: color, border-color, background-color;
  transition-timing-function: var(--e-text-content);
  transition-duration: var(--d-text-content);
}

.tag {
  @include tag();
}

@mixin cta() {
  @include tag();

  border: 2px solid var(--c-title);
  background-color: var(--c-bg);

  &:hover {
    background-color: var(--c-title);
    border-color: var(--c-title);
    color: var(--c-bg);
  }
}

.cta {
  @include cta();
}

@mixin text-link() {
  transition: color var(--e-text-content) var(--d-text-content);

  &:hover {
    color: var(--c-title);
  }
}

.text-link {
  @include text-link();
}

.subline {
  font-size: var(--s-text-s);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--c-text);
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.logo {
  --s-title: calc(var(--s-text-s) * 2);

  $el: #{&};

  font-weight: bold;

  a {
    text-decoration: none;
  }

  &__title {
    font-size: var(--s-title);
    transition: color var(--e-text-content) var(--d-text-content);

    #{$el}:hover & {
      color: var(--c-text);
    }
  }

  &__desc {
    font-size: var(--s-text-s);
    margin-top: 0.5em;
  }
}

.navigation {
  $root:#{&};

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: calc(var(--s-gutter) * 3);
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity linear 1s;

    #{$root}.is-minified & {
      opacity: 1;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: var(--s-gutter);
    box-sizing: border-box;
    font-size: var(--s-text-s);
    font-weight: bold;
    transform: translateY(0);
    transition: transform var(--e-inout) 1s;

    #{$root}.is-minified & {
      transform: translateY(calc(var(--s-gutter) * -0.5));
    }
  }

  &__logo {
    position: relative;
    margin-top: calc(var(--s-title) * -0.4);
  }

  &__link {
    @include cta();

    --s-margin: 2em;

    margin-left: var(--s-margin);
    margin-right: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    &--secondary {
      margin-left: calc(var(--s-margin) * 0.3);
      background-color: var(--c-bg);
      border-color: var(--c-bg);

      &:hover {
        color: var(--c-title);
        background-color: var(--c-bg);
        border-color: var(--c-bg);
      }
    }

    &.is-current {
      background-color: var(--c-text);
      border-color: var(--c-text);
      color: var(--c-bg);
    }
  }
}

.content {
  --s-vertical-spacing: calc(var(--s-gutter) * 2);

  position: relative;
  margin-top: 30vh;
  box-sizing: border-box;
  transition: opacity linear 0.25s;

  &__centered {
    --s-padding: calc(var(--s-gutter) * 2);

    padding: 0 var(--s-padding) 0 var(--s-padding);
  }

  .transition-out & {
    opacity: 0;
  }

  .cta {
    margin-top: calc(var(--s-p-margin-top) * 1.3);
  }

  &__title {
    @include h2();

    margin-top: 0.5em;
  }

  &__subtitle {
    color: var(--c-text);
    width: 50%;
    margin-top: var(--s-vertical-spacing);
    margin-bottom: calc(var(--s-vertical-spacing) * 0.5);
  }
}

.content-enter-active {
  transition: transform var(--e-out), opacity linear;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.content-enter {
  transform: translateY(4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.projects {
  &__listing {
    margin-top: var(--s-vertical-spacing);
  }
}

.projects-list {
  $root: #{&};

  margin-top: var(--s-vertical-spacing);

  &__link {
    text-decoration: none;
  }

  &__title {
    @include h3();

    margin-top: 0.5em;
    transition: color var(--e-text-content) var(--d-text-content);

    #{$root}:hover & {
      color: var(--c-text);
    }
  }

  &__tags {
    font-size: var(--s-text-s);
    margin-top: 2em;
  }
}

.project {
  &__subline {
    display: inline-block;
  }

  &__year,
  &__agency {
    font-size: var(--s-text-s);
    margin-left: 3em;
  }

  &__tags {
    font-size: var(--s-text-s);
    margin-top: 3em;
  }

  &__images,
  &__videos {
    margin-top: var(--s-vertical-spacing);
  }

  &__image,
  &__video {
    margin-top: calc(var(--s-vertical-spacing) * 0.5);
  }

  &__image-el {
    display: block;
    width: 100%;
  }

  &__video-el {
    width: 100% !important;
  }

  &__link {
    display: table;
  }

  &__credits {
    p {
      margin-top: 0;
    }
  }

  &__pagination {
    margin-top: var(--s-vertical-spacing);
  }
}

.pagination {
  display: flex;

  &__link-prev,
  &__link-next {
    --s-padding: var(--s-gutter);

    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
  }

  &__link-prev {
    padding-right: var(--s-padding);
  }

  &__link-next {
    padding-left: var(--s-padding);
  }

  &__title {
    display: block;
    margin-top: 1em;
    font-weight: bold;
    color: var(--c-title);
  }
}

.about {
  &__img {
    width: 100%;
    margin-top: var(--s-vertical-spacing);
  }

  &__link {
    margin-top: var(--s-p-margin-top);
    margin-bottom: 0;
  }

  &__position {
    margin-top: var(--s-vertical-spacing);

    &:first-child {
      margin-top: 0;
    }
  }

  &__position-title {
    @include h3();
  }

  &__position-dates {
    display: inline-block;
    color: var(--c-text);
    transform: translate(1em, -2em);
  }

  &__language {
    display: flex;
    margin-top: 1em;
  }

  &__language-title {
    flex-basis: 25%;
  }

  &__language-value {
    span {
      --s: 0.75em;

      display: inline-block;
      width: var(--s);
      height: var(--s);
      background-color: var(--c-title);
      margin-right: 1em;
      border-radius: 50%;
      opacity: 0.5;

      &.active {
        background-color: var(--c-text);
        opacity: 1;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--s-text-s);
  border-top: 2px var(--c-title) solid;
  padding-top: 1em;
  margin-top: calc(var(--s-gutter) * 2);
  padding-bottom: var(--s-gutter);

  &__dash {
    display: inline-block;
    padding: 0 1em 0 1em;
  }
}

.transition {
  --s-margin: calc(var(--s-gutter) * 0.5);

  &__bg {
    position: fixed;
    z-index: 1000;
    top: var(--s-margin);
    left: var(--s-margin);
    width: calc(100vw - var(--s-margin) * 2);
    height: calc(100vh - var(--s-margin) * 2);
    background-color: var(--c-title);
    will-change: transform;
  }
}

.transition-enter-active {
  transition: transform var(--e-out) 0.5s;
}

.transition-leave-active {
  transition: transform var(--e-in) 0.5s;
}

.transition-enter {
  transform: scale(0.75);
}

.transition-enter-to {
  transform: scale(1);
}

.transition-leave {
  transform: scale(1);
}

.transition-leave-to {
  transform: translateY(100%);
}
