@import 'reset-css/reset.css';
@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgb(103, 169, 255, 0.9);
  color: var(--c-bg);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRunText;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-line-height);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontTitle();

  color: var(--c-title);
}

b,
strong {
  @include fontTitle();
}

a {
  color: var(--c-text);
  text-decoration: underline;
}

.logo {
  position: fixed;
  top: var(--s-gutter);
  left: var(--s-gutter);
  font-weight: bold;

  a {
    text-decoration: none;
  }

  &__desc {
    font-size: var(--s-text-s);
    margin-top: 0.5em;
  }
}

.navigation {
  position: fixed;
  top: var(--s-gutter);
  right: var(--s-gutter);
  font-size: var(--s-text-s);
  font-weight: bold;

  &__link {
    margin-left: 2em;
    text-decoration: none;
    padding: 0.25em 0.75em 0.25em 0.75em;
    border-radius: 1em;
    border: 2px solid var(--c-title);

    &--secondary {
      margin-left: 1em;
      background-color: var(--c-bg);
      border-color: var(--c-bg);
    }

    &:hover {
      background-color: var(--c-title);
      border-color: var(--c-title);
      color: var(--c-bg);
    }

    &.is-current {
      background-color: var(--c-text);
      border-color: var(--c-text);
      color: var(--c-bg);
    }
  }
}

.content {
  position: relative;
  margin-top: 50vh;
  box-sizing: border-box;
}

.content-enter-active {
  transition: transform var(--e-out) 1s 0.5s, opacity linear 0.5s 0.5s;
}

.content-enter {
  transform: translateY(4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.footer {
  margin-top: 2em;
}

.transition {
  &__bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-title);
    will-change: transform;
  }
}

.transition-enter-active {
  transition: transform var(--e-out) 0.5s;
}

.transition-leave-active {
  transition: transform var(--e-in) 0.5s;
}

.transition-enter {
  transform: scale(0.75);
}

.transition-enter-to {
  transform: scale(1);
}

.transition-leave {
  transform: scale(1);
}

.transition-leave-to {
  transform: translateY(100%);
}
